* {
    margin: 0px;
    padding:0px;
}

body{
    background-color: #E5E5E5;
}

header {
    text-align: right;
    padding-right: 15px;
    padding-top:15px; 
    width: 414px;
    height: 190px;
    left: 0px;
    top: 19px;
    background: #E4A278;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border-radius: 24%;
}
.button{
    text-decoration: none;
    color: white;
    background: #503644;
    text-align: center;
    width: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;  
}

.button {
    b
    border-radius: 25px;
    padding: 10%;
}

div{
    text-align:center;
}

#infoHorarios {
    border-width: 5px;
    border-style: solid;
    border-color: red;
    margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 80px;
  margin-left: 80px;
  padding: 12px;
  }
.contadores {
    display: grid;
    grid: 30px / 30px, 30px
}

#contadorAusencias{
    background-color: #ff8533;
    border-style: solid;
    border-color: red;
    border-radius: 50%;
    padding: 1.2%;
    width: 1.2%;
    position: relative;
    top:30%;
    left:40%;
}
#contadorFaltas{
    background-color:#2A425F;
    border-style: solid;
    border-color: red;
    border-radius: 50%;
    padding: 1.2%;
    width: 1.2%;
    position: rela;
    top: 30%;
    right: 40%;
}

.grid-container {
    display: grid;
    grid: 150px / auto auto auto auto auto
  }

  #nombres {
      list-style-type: none;
      border-style: solid;
      border-width: 5px;
      border-color: black;
      text-align: center;
  }
  h3 {
      text-align:  center;
      margin:0;
      padding:0;
  }
  